# Ignorar archivos generados por LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.ilg
*.ind
*.idx
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.loa
*.thm
*.run.xml
*.bcf
*.blx.bib
*.rpi
*.mw
*.tmp
*.tex.backup
*.bak

# Carpetas comunes de compilación
_build/
output/
aux/
latex.out/